.offer_root
  .offer_sectionDouble
    .offer_border
    .offer_contentDouble
      .offer_title ДАРИМ 500 РУБЛЕЙ ЗА ПОДПИСКУ!
      .offer_description Оформи подписку и получи купон на 500 р
      .offer_subscription
        input(
        type="text"
        placeholder="Ваше e-mail"
        class='btn'
        )
        input(
        type="text"
        placeholder="Ваше имя"
        class='btn'
        )
        button.btn.btn_primary ОК
        button.offer_min.btn.btn_primary Оформить
  .offer_section
    .offer_content
      .offer_title ВСТУПАЙ В КЛУБ И ПОЛУЧИ <br>КАРТУ СКИДОК!
      button.btn.btn_secondary Вступить
